.mapboxgl-marker:hover {
  cursor: pointer;
}

.mapboxgl-marker:hover svg > g > g:nth-child(2) {
  fill: #7993a5;
}

.mapboxgl-popup{
  color: #282c34;
  width: 170px;
}
.mapboxgl-popup__header {
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
